<?xml version="1.0"?>
<configuration>

  <system.web>
	  
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
	  
  </system.web>
	<add name="conn"
connectionString="server=.;database=somedatabase;integrated  security=true" providerName="System.Data.SqlClient"/>


</configuration>
